.view-box {
  width: 350px;
}

.title {
  border-bottom: 1px solid #ddd;
  font-size: 40px;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, #7db9e8 0%, #1e5799 100%);
}

